<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
{% extends "AppCoder/inicio.html" %}

{% load static %}
    
{% block contenidoQueCambia %} 
    
<!--Aquí va lo que cambia, y lo asociado a está vista :) -->
    <h1>Cursos</h1>
    <p>Por favor llena el formulario con el curso que deseas tomar</p>
     
    <form method="post">
        {% csrf_token %} 

            {{ miFormulario.as_table }}
            
        <button type="submit">Enviar</button>
    </form>
  
    
 {% endblock %}


</body>
</html>